.search-wrapper{
    background-color: rgba(33, 132, 187, 0.1);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: solid 1px rgba(33, 132, 187, 1);
}
.left-container{
    display: flex;
}

.doc-image img{
    height: 250px;
}

.advert-container{
    background-color: rgba(33, 132, 187, 0.1);
    border: solid 1px rgba(33, 132, 187, 1);
    border-radius: 10px;
}
.section-img{
    position: relative;
}
.section-img img{
    width: 100%;
    height: 280px;
}

.section-img .header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(33, 132, 187, 0.5);
    padding: 30px;
    border-radius: 50px;
}